:root {
    --primary-color: #BD2A2E;
    --text: #3B3936;
    --background: #B2BEBF;
    --highlight: #889C9B;
    --background-color: #486966;
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
}

main {
    background-color: var(--background);
    margin: 5em auto;
    width: 40%;
    border-radius: 5%;
    padding: 2em;
}

h1 {
    color: var(--text);
    text-align: center;
}

p {
    color: var(--text);
    text-indent: 2em;
    line-height: 1.3em;
    text-align: justify;
}

.texto {
    margin-bottom: 3em;
}

.instrucao {
    text-align: center;
    color: var(--primary-color);
}

button {
    font-size: 2em;
    color: var(--text);
    background-color: var(--highlight);
    border: 0 solid;
    border-radius: 5%;
    min-width: 40%;
    padding: .5em 2em;
    margin: .5em auto;
    display: block;
    cursor: pointer;
}

.start {
    transition-property: all;
    transition-duration: 10ms;
}

.start:active {
    background-color: var(--background-color);
}

.btn-time {
    background-color: var(--primary-color);
}

.resultado {
    border-radius: 5%;
    background-color: var(--highlight);
    width: 70%;
    padding: 1em 0;
    margin: 2em auto 2em;
    color: var(--text);
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    user-select: none;
}
